<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>QCD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/breast_ribbon.png')}}">



    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ss/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/nice-select.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/gijgo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/slicknav.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

</head>

<body>
    <div id="preloader"></div>
     <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img" style="margin-left: -90px; margin-bottom: 20px;">
                                <a href="{{ url_for('index') }}">
                                    <img  class="img1" src="{{ url_for('static', filename='img/logo1.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-centre">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                                <li><a href="{{ url_for('model') }}">Model</a></li>
                                                <li><a href="{{ url_for('index') }}">Languages<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ url_for('model') }}">English</a></li>
                                                        <li><a href="{{ url_for('model_hindi') }}">हिंदी</a></li>
                                                        <li><a href="{{ url_for('model_bengali') }}">বাংলা</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{ url_for('about') }}">About us</a></li>
                                                <li><a href="{{ url_for('Book_Appointment') }}">Find Doctors</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Model Details</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="welcome_clicnic_area" style="text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12" style = "padding-left:100px; padding-right:120px;">
                    <div class="welcome_docmed_info">
                        <h3>Diving into the Dataset</h3>
                        <p style="text-align: justify;">The BreakHis dataset, used in our analysis, consists of breast tumor micrographs captured at 400X magnification and contains a total of 7,909 annotated images. It is categorized into two main classes: Benign and Malignant.The Malignant class includes Invasive Ductal Carcinoma (IDC), Lobular Carcinoma (ILC), Mucinous Carcinoma, and Tubular Carcinoma. The Benign class includes tumors such as Adenoma, Fibroadenoma, Phyllodes Tumor and Tubular Adenoma. </p>
                        <ul>
                            <li> <i class="flaticon-verified"></i> The dataset comprises a total of 7,909 annotated images. </li>
                            <li> <i class="flaticon-verified"></i> Includes a wide variety of images captured at 400X magnification.. </li>
                        </ul>
                        <p>Dataset Link: </p>
                        <a href="https://web.inf.ufpr.br/vri/databases/breast-cancer-histopathological-database-breakhis/" style="color: crimson;">https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/DBW86T</a>
                        <div style="height: 15px;"></div>
                        <p style="text-align: justify;">This dataset provides a comprehensive foundation for the development of machine learning models aimed at accurately classifying and detecting breast cancer in histopathological images. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6" style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_docmed_info">
                        <h3>Feature Extraction, Colour Space Conversion</h3>
                        <p style="text-align: justify;">We have uses DenseNet121, a densely connected convolutional network with 121 layers organized into four dense blocks and transition layers, to extract image features. Images are converted from RGB to HSV color space using specific formulas for Value, Saturation, and Hue to capture additional color information. Both RGB and HSV versions are processed by DenseNet121, producing 300x1000 feature vectors that are then averaged into a single unified representation.</p>
                        <ul>
                            <li> <i class="flaticon-verified"></i> DenseNet121 architecture with 121 layers and dense connectivity. </li>
                            <li> <i class="flaticon-verified"></i> 300x1000 feature vector extraction from both RGB and HSV images using DenseNet121. </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/RGB.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6"style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_docmed_info">
                        <h3>Principal Component Analysis
                            <span>(PCA) </span></h3>
                        <p style="text-align: justify;">To enable quantum classification, Principal Component Analysis (PCA) reduced the feature vector dimensionality from 300x1000 to 300x10, retaining the most significant variance and creating a compact representation compatible with qubit constraints of quantum classifiers like QSVC. This dimensionality reduction is essential for efficient mapping of data to quantum states and allows for subsequent classification using both classical (SVC) and quantum (QSVC) methods. </p>
                        <p style="text-align: justify;">Compatibility with quantum hardware, reduced computational overhead, retention of key information, and noise reduction.300x10 feature matrix for subsequent classical (SVC) and quantum (QSVC) classification.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/PCA.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6" style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/SVC.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_docmed_info">
                        <h3>Support-Vector Classifier
                            (SVC)</h3>
                        <p style="text-align: justify;">Support Vector Classifiers (SVCs) create a hyperplane to separate data points into different classes by optimizing the weight vector (w) and bias term (b) in the equation wᵀx + b = 0, using slack variables (ζᵢ) to handle non-separable data and a regularization parameter (C) to balance margin maximization and error minimization.</p>
                        <p style="text-align: justify;">For this a linear kernel was chosen due to the optimized, reduced feature vector dimensions (300x10), providing an efficient solution with a linear decision boundary. This SVC application effectively utilizes features extracted from DenseNet121 to classify data, forming a base for subsequent meta-classifier and YOLO model processing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6" style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_docmed_info">
                        <h3>Quantum-Support Vector Classifier
                            <span>(QSVC)</span></h3>
                        <p style="text-align: justify;">Quantum Support Vector Classifiers (QSVCs) utilize quantum mechanics to map data into a high-dimensional Hilbert space, offering enhanced handling of non-linearly separable data compared to classical SVCs. QSVC employs a quantum kernel for efficient projection into this space, leveraging exponentially large data representations for improved performance, especially with complex datasets. </p>
                        <p style="text-align: justify;">This implementation uses the ZZFeatureMap with two circuit repetitions and linear qubit entanglement to effectively encode classical data into quantum states, capturing complex feature correlations for high-dimensional classification tasks.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/QSVM.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6" style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/STACK.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_docmed_info">
                        <h3>Quantum-Classical Stack Ensemble</h3>
                        <p style="text-align: justify;">The quantum-classical stack ensemble combines predictions from classical (SVC) and quantum (QSVC) models to enhance classification performance. After training, SVC and QSVC predictions are concatenated with the original feature set (X) to create a new meta-feature set.</p>
                        <p style="text-align: justify;">This augmented dataset is then used to train a meta-classifier, typically a Logistic Regression model, which learns to optimally integrate the information from both models. This approach leverages the complementary strengths of classical efficiency and quantum high-dimensionality for improved final predictions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="welcome_clicnic_area" style="padding-top:0px; text-align: justify;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6" style = "padding-left:100px; padding-right:50px;">
                    <div class="welcome_docmed_info">
                        <h3>Custom Trained
                            <span>YOLOv8.</span></h3>
                        <p style="text-align: justify;">We have integrated the YOLOv8 classification model, a deep learning architecture based on the PyTorch framework, for skin disease identification on our website. This choice is driven by the model's exceptional accuracy in classifying dermatological images, making it well-suited for identifying complex patterns associated with skin diseases.</p>
                        <ul>
                            <li> <i class="flaticon-verified"></i> The model achieves top-1 accuracy of 80.65%. </li>
                            <li> <i class="flaticon-verified"></i> Our model exhibits a top-5 accuracy rate of 97.2%. </li>
                        </ul>
                        <p style="text-align: justify;">By employing the YOLOv8 classification model on our website, we ensure robust skin disease identification with both top-1 and top-5 accuracy metrics, ultimately improving the accuracy and reliability of our diagnostic services.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" style = "padding-left:50px; padding-right:100px;">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/banner/yolo.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <p style="color: #FF6969;">Disclaimer: This website provides information for educational and informational purposes only. It is not a substitute for professional medical advice, diagnosis, or treatment. Consult with a qualified healthcare provider for any medical concerns.</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12 justify-content-center">
                        <p class="copy_right text-center">
                            <p style="color: white;">Committed to your wellbeing, with ❤️ Team QCD</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <h3>
                    Book an 
                <span>Appointment</span>
                </h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" class="">
                                <option data-display="Please select doctor to visit">Please select doctor to visit </option>
                                <option value="1">Anaf</option>
                                <option value="2">Nayna Therapy</option>
                                <option value="3">Nadif</option>
                            </select>
                        </div>
                        <div class="col-xl-9">
                            <input type="text"  placeholder="Your name ">
                        </div>
                        <div class="col-xl-3">
                            <input type="text"  placeholder="Your age">
                        </div>
                        <div class="col-xl-6">
                            <input type="text"  placeholder="Phone number ">
                        </div>
                        <div class="col-xl-6">
                            <input type="email"  placeholder="Email Address">
                        </div>
                        <div class="col-xl-6">
                            <input class="datepicker" placeholder="Appointment Date">
                        </div>
                        <div class="col-xl-6">
                            <input class="timepicker" placeholder="Suitable time">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed-btn3">Make an Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>





    <script>
        function getAnswer() {
            const questionInput = document.getElementById("question-input").value;
            const answerOutput = document.getElementById("answer-output");
            const getAnswerButton = document.getElementById("get-answer-button");
            const regenerateButton = document.getElementById("regenerate-button");

            // Replace this with actual code to fetch the answer from your language model.
            // For simplicity, we'll just echo back the question as the answer in this example.
            answerOutput.innerHTML = "Answer: " + questionInput;

            // Hide the "Get Answer" button and show the "Regenerate" button
            getAnswerButton.style.display = "none";
            regenerateButton.style.display = "inline";
        }

        function regenerateQuestion() {
            const questionInput = document.getElementById("question-input");
            const answerOutput = document.getElementById("answer-output");
            const getAnswerButton = document.getElementById("get-answer-button");
            const regenerateButton = document.getElementById("regenerate-button");

            // Clear the input field and answer output
            questionInput.value = "";
            answerOutput.innerHTML = "";

            // Hide the "Regenerate" button and show the "Get Answer" button
            regenerateButton.style.display = "none";
            getAnswerButton.style.display = "inline";
        }
    </script>




    <script src="{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{ url_for('static', filename='s/isotope.pkgd.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/scrollIt.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/nice-select.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{ url_for('static', filename='js/gijgo.min.js') }}"></script>
    <!--contact js-->
    <script src="{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/mail-script.js') }}"></script>
    <script src="{ url_for('static', filename='js/main.js') }}"></script>

    <script>
    // JavaScript function to capture the selected choice and submit the form
    function captureChoice() {
        var selectedChoice = document.getElementById("choices").value;
        document.getElementById("selected_choice").value = selectedChoice;
        document.getElementById("upload-file").submit();
    }
    </script>


    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){loader.style.display = "none"})
    </script>
</body>

</html>